---
import Layout from "@/layouts/Layout.astro"

import About from "@/components/sections/About.astro"
import Education from "@/components/sections/Education.astro"
import Experience from "@/components/sections/Experience.astro"
import Hero from "@/components/sections/Hero.astro"
import Projects from "@/components/sections/Projects.astro"
import Skills from "@/components/sections/Skills.astro"
import KeyboardManager from "@/components/KeyboardManager.astro"
import LanguagePicker from "@/components/LanguagePicker.astro"

import cvEn from "../../../cv_english.json"
const { basics, work, education, projects, skills } = cvEn
const { name, label } = basics
---

<Layout title={`${name}'s Portfolio - ${label}`} lang="en" basics={basics}>
  <LanguagePicker lang="en" />
  <main>
    <Hero basics={basics} downloadTitle="Download CV" />
    <About title="About Me" summary={basics.summary} />
    <Experience title="Work Experience" work={work} />
    <Education title="Education" education={education} />
    <Projects title="Projects" projects={projects} />
    <Skills title="Skills" skills={skills} />
  </main>

  <KeyboardManager 
    basics={basics}
    footerText="Press Cmd + K to open the command palette."
    placeholder="Search command"
    printTitle="Print"
    actionsSection="Actions"
  />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>
